* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contains {
  background-image: url(./image/Barbara_van_der_Linde_Boet_and_Harvey.jpg);
  height: 100vh;
}

.myimg {
  width: 100px;
  margin-right: 3rem;
}
.myinput {
  width: 800px;
  padding: 0px 5px 0px 5px;
}
.signin {
  padding: 5px 20px 5px 20px;
  border: none;
  background-color: white;
  color: black;
}
.login {
  padding: 5px 10px 5px 10px;
  border: none;
  color: white;
  background-color: transparent;
}

.txx {
  margin-top: 10rem;
}
.txx h1 {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}
.txx p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.txx button {
  padding: 20px 30px;
  background-color: white;
  color: black;
  background-origin: padding-box;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}
ul {
  list-style: none;
  color: white;
  background-color: black;
  padding: 1rem 0;
  gap: 2rem;
}
